*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-image: url(./IMG/123.jpg);
    backdrop-filter: blur(70px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container{
    outline: none;
    box-shadow: 0px 0 6px #000000;
    padding: 10px;
}

h1{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #ffffff;
    text-shadow: 0px 0 2px #000000 ;
}

input{
    padding: 10px 15px;
    margin: 10px;
    outline: none;
    border: none;
    border: #ccc 1px solid;
    border-radius: 8px;
    box-shadow: 0px 0 2px #000000;
    height: 35px;
}

label{
    color: #ffffff;
    font-size: 18px;
    font-weight: 450;
    text-shadow: 0px 0 2px #000000 ;
}

.boton{
    cursor: pointer;
    background-color: transparent;
    border: none;
    box-shadow: 0px 0 5px #000000;
    color: #ffffff;
    transition: all .3s ease-in-out;
    padding: 8px 15px;
    border-radius:10px ;
    margin-top: 20px;
    font-size: 18px;
}

.boton:hover{
    background-color:  #000000;
    color:#ffffff
}

.error {
    border: 1px solid red;
}

.error-msg {
    color: #E53935;
    font-size: 12px;
}